# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do


**Homeworks results at the end** <br>
*Made by Cristian Vergara*

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [1]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [2]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [3]:
#Install the dependencies
%%capture
!pip install dlt[duckdb]

In [4]:
# extra libraries needed:
!pip install --quiet streamlit
!pip install --quiet jupysql
!pip install --quiet duckdb-engine

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.4/8.4 MB 13.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.8/4.8 MB 17.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.1/82.1 kB 7.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.7/95.7 kB 3.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 414.2/414.2 kB 17.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.1/41.1 kB 3.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.9/46.9 kB 2.2 MB/s eta 0:00:00

### Question 1: <br>
What is the sum of the outputs of the generator for limit = 5?

In [5]:
limit = 5
generator = square_root_generator(limit)

result = sum([*generator]) #unpack generator
print(result)

8.382332347441762

### Question 2: <br>
What is the 13th number yielded by the generator?

In [6]:
limit = 13
generator = square_root_generator(limit)

result = list(generator)[-1]
print(result)

3.605551275463989

### Question 3: <br>
Append the 2 generators. After correctly appending the data, calculate the sum of all ages of people.

In [7]:
import dlt

pipeline = dlt.pipeline(pipeline_name="q3", destination="duckdb", dataset_name="append_table_workshop")
info = pipeline.run(people_1(), table_name="append_table", write_disposition='append')
info = pipeline.run(people_2(), table_name="append_table", write_disposition='append')

In [8]:
print(info)

Pipeline q3 load step completed in 0.29 seconds
1 load package(s) were loaded to destination duckdb and into dataset append_table_workshop
The duckdb destination used duckdb:////content/q3.duckdb location to store data
Load package 1707242161.005256 is LOADED and contains no failed jobs

In [9]:
import duckdb
import pandas as pd

# No need to import sqlalchemy or duckdb_engine
#  JupySQL will use SQLAlchemy to auto-detect the driver needed based on your connection string!

# Import jupysql Jupyter extension to create SQL cells
%load_ext sql

# We configure jupysql to return data as a Pandas dataframe and have less verbose output
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

Deploy Flask apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [10]:
%sql duckdb:////content/q3.duckdb

In [12]:
%sql df_question_3 << SELECT * FROM append_table_workshop.append_table

In [13]:
df_question_3

    id      name  age    city       _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A  1707242160.212878  P0h8Erm73TfPbw       None
1    2  Person_2   27  City_A  1707242160.212878  LeRs3PyDcGs/tg       None
2    3  Person_3   28  City_A  1707242160.212878  6clFuELc8b7sXg       None
3    4  Person_4   29  City_A  1707242160.212878  znisFrLfeZgzdQ       None
4    5  Person_5   30  City_A  1707242160.212878  l4SK+no7ygcROA       None
5    3  Person_3   33  City_B  1707242161.005256  MW2cAT9UENurXg      Job_3
6    4  Person_4   34  City_B  1707242161.005256  EdMG7+uEOILVPw      Job_4
7    5  Person_5   35  City_B  1707242161.005256  xDGdL3S0qPLRHQ      Job_5
8    6  Person_6   36  City_B  1707242161.005256  NMAeXxFKOxZQNw      Job_6
9    7  Person_7   37  City_B  1707242161.005256  uo7BgpbxItzD3w      Job_7
10   8  Person_8   38  City_B  1707242161.005256  uWgZnETurNHLJA      Job_8

In [14]:
result = sum(df_question_3.age.tolist())
print(result)

353

### Question 4:<br>
 Merge the 2 generators using the ID column. Calculate the sum of ages of all the people loaded as described above.

In [15]:
import dlt

pipeline = dlt.pipeline(pipeline_name="q4", destination="duckdb", dataset_name="merge_table_workshop")
#info = pipeline.run(people_1(), table_name="merge_table", write_disposition='merge', primary_key="id") # option 2
info = pipeline.run(people_1(), table_name="merge_table", write_disposition='append')
info = pipeline.run(people_2(), table_name="merge_table", write_disposition='merge', primary_key="id")

# I tried using both solutions and  both gave me the same output

In [16]:
print(info)

Pipeline q4 load step completed in 0.54 seconds
1 load package(s) were loaded to destination duckdb and into dataset merge_table_workshop
The duckdb destination used duckdb:////content/q4.duckdb location to store data
Load package 1707242266.0963554 is LOADED and contains no failed jobs

In [17]:
%sql duckdb:////content/q4.duckdb

In [18]:
%sql df_question_4 << SELECT * FROM merge_table_workshop.merge_table

In [19]:
df_question_4

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A   1707242265.345149  VD1efBFX0KJc1w       None
1   2  Person_2   27  City_A   1707242265.345149  Ckc2oZuqkDDXdQ       None
2   8  Person_8   38  City_B  1707242266.0963554  VV1WzogWU6M6mA      Job_8
3   3  Person_3   33  City_B  1707242266.0963554  ZLcusm6kXuiD/g      Job_3
4   6  Person_6   36  City_B  1707242266.0963554  rvOyQKj6lWKd6w      Job_6
5   5  Person_5   35  City_B  1707242266.0963554  WymvlyoROflMFQ      Job_5
6   7  Person_7   37  City_B  1707242266.0963554  aFUg/RufrhYujA      Job_7
7   4  Person_4   34  City_B  1707242266.0963554  cSjJpvNfAB9exw      Job_4

In [20]:
result = sum(df_question_4.age.tolist())
print(result)

min = 100000
for i in [205,213,221, 230]: # options
  aux = abs(result-i)
  if aux < min:
    min = i

print(f'Correct answer: {result}')
print(f'Closer answer: {min}')

266
Correct answer: 266
Closer answer: 230

230

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX